* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
     font-family: "Roboto Condensed", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgba(0,0,0,0.5);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: green;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active {
    color: green;
    border-bottom: 3px solid green;
}

@media(max-width:995px) {
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-bottom: 3px solid green;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav:active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a:active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid green;
    }
}

section {
    min-height: 30vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    border-bottom: 0.5rem solid green;
}

.home .home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home .home-content p {
    font-size: 2rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid green;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2 solid green;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: green;
}

.social-icon a:hover {
    color: black;
    transform: scale(1.3) translate(-5px);
    background-color: green;
    box-shadow: 0 0 25px green;
}

section h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 6rem;
}

section h3 {
    font-size: 3rem;
    font-weight: 700;
}

section h4 {
    font-size: 3rem;
    font-weight: 500;
}

section h5 {
    font-size: 1.8rem;
    font-weight: 300;
}

section p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.9rem;
}

section p span {
    color: green;
}

.about .about-content,
.portfolio .portfolio-content{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items:flex-start;
}

.about .card,
.portfolio .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
    gap: 10rem;
    min-height: 100px;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-bottom: 0.5rem solid green;
}

.about .card .card-content,
.portfolio .card .card-content {
    width: 70%;
    height: 100%;
}

.about .card .card-image,
.portfolio .card .card-image {
    width: 30%;
    min-height: 200px;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.about .card .card-image img {
    width: 100%;
    
}

.portfolio .card .card-image img {
    width: 75%;
    
}

@media(max-width:1300px) {
    .home {
        flex-direction: column;
    }

    .about .card .card-wrapper
     {
        gap: 3rem;
    }
}

@media(max-width:995px) {
    .home {
        gap: 4rem;
    }

    .home-img img {
        width: 50vh;
        margin-top: 4rem;
    }
}


